<div class="modal-header">
    <h4 class="modal-title">Filtrar por</h4>
</div>

<div class="modal-body">
    <ul class="list-unstyled">
        <li>
            <a href="" ng-click="close(1)">Ver Todos<i class="fa fa-angle-right"></i></a>
        </li>

<!--
        <li>
            <a href="" ng-click="close(2)">Ofrecimientos<i class="fa fa-angle-right"></i></a>
        </li>
-->
        <li>
            <a href="" ng-click="close(3)">Artículos disponibles<i class="fa fa-angle-right"></i></a>
        </li>

        <li>
            <a href="" ng-click="close(4)">Agradecimientos<i class="fa fa-angle-right"></i></a>
        </li>

        <li>
            <a href="" ng-click="close(5)">Destacados<i class="fa fa-angle-right"></i></a>
        </li>

    </ul>
    <div class="text-center btn-full-width">
        <a href="javascript:void(0)" ng-click="close(false)" class="btn btn-primary">SALIR</a>
    </div>
</div>
