<div class="entrega-confirmada bg-brand-color">

    <div class="text-center hero-usuario">
        <h2>
            <strong>
                Gracias por enviarnos <br>
                tu calificación
            </strong>
        </h2>

        <ul class="list-inline avatar-oferente-solicitante">
            <li>
                <div class="small-avatar">
                    <img ng-src="{{leftPath}}" class="img-responsive"/>
                </div>
            </li>

            <li>
                <div class="small-avatar">
                    <img ng-src="{{rightPath}}" class="img-responsive"/>
                </div>
            </li>
        </ul>

        <p class="margin-bottom double-margin-bottom" style="white-space: pre-wrap;">{{text}}</p>

        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 margin-bottom" ng-if="mine">
                    <a href="" class="btn btn-white display-block" ng-click='selectNewUser()'> Elegir otro interesado </a>
                </div>
            <div class="row">

            </div>
                <div class="col-xs-10 col-xs-offset-1 margin-bottom">
                    <a href="" class="btn btn-white display-block" ng-click='close()'> Salir </a>
                </div>
            </div>

        </div>
    </div>

</div>
