language: python
technologies:
  - python
  - serverless-functions
test_framework: pytest
package_manager: pip
install_command: pip install -r packages/tuyo/emails/requirements.txt && pip install -r packages/tuyo/notifications/requirements.txt
dev_command: python -m packages.tuyo.notifications.__main__
test_command: pytest
build_command: bash packages/tuyo/emails/build.sh && bash packages/tuyo/notifications/build.sh
