<div class="card default-border-radius margin-bottom feed-grid-full-width" style="padding-bottom: 15px; !important">
    <div class="container">

        <div class="user-header">
            <div class="avatar">
                <a>
                    <img src="assets/images/notice_user.png" style="width:100%; height:100%" onerror="this.onerror=null; if (this.src != 'error.jpg') this.src = 'assets/images/user2.png';"/>
                </a>
            </div>

            <h3>
                <a>{{notice.title}}</a>
                <span am-time-ago="notice.created || 'YYYY-MM-DD HH:mm:ss'"></span>
            </h3>

            <a class="btn-right-top" ng-click="stopShowing()">
                <i class="fa fa-close"></i>
            </a>

        </div>

        <div class="container contentHolder" ng-bind-html="htmlText"></div>
    </div>


    <div class="carousel slide" data-ride="carousel" data-interval="9999999999">
        <img ng-src="{{notice.file_url}}" class="img-responsive" style="margin: auto !important;"/>
    </div>

    <div class="container" style="text-align: center; margin-top: 25px">
        <a class="btn btn-primary margin-bottom" ng-click="stopShowing()">Entendido</a>
    </div>
</div>
