<div class="bg-brand-color modal-body text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close(false)">
        <span aria-hidden="true">&times;</span>
    </button>

    <h3 style="white-space: pre-wrap;">{{title}}</h3>
    <p class="double-margin-bottom" style="white-space: pre-wrap;" ng-if="text">{{text}}</p>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="" class="btn btn-empty-white display-block" ng-click='close(true)'>{{yes}}</a>
        </div>
    </div>
 </div>
