<navigation-bar-desktop ></navigation-bar-desktop>

<div id="desktop" class="paginas-corporativas">
    	<div class="hero-yellow bg-yellow text-left">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    					<img src="assets/images/elproyecto-bandera.svg" class="img-responsive">
    				</div><!-- end col -->
    				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    					<p class="intro">Bienvenidos a la comunidad colaborativa más grande de Uruguay.</p>
    					<div class="row hidden-xs">
			    			<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 text-left border-right-white">
    							<p class="number-text"><span>{{usuariosT}}</span>usuarios</p>
    						</div><!-- end col -->
	    					<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5 text-right">
    							<p class="number-text"><span>{{articulosT}}</span>artículos ofrecidos</p>
    						</div><!-- end col -->
    					</div><!-- end row -->

    					<div class="statistics-block-row visible-xs">
			    			<div class="statistics-block text-left border-right-white">
    							<p class="number-text"><span>{{usuariosT}}</span>usuarios</p>
    						</div><!-- end col -->
	    					<div class="statistics-block text-right">
    							<p class="number-text"><span>{{articulosT}}</span>artículos ofrecidos</p>
    						</div><!-- end col -->
    					</div><!-- end row -->


    				</div><!-- end col -->
    			</div><!-- end row-->
    		</div><!-- end container-->
    		<ul id='topBar' class="list-unstyled list-inline text-center scrollbsy-menu fixed-top">
    			<div class="container">
    				<div class="row">
	    				<li class="col-xs-2 col-sm-3 col-md-3 col-lg-3 active">
                            <!-- <a class="page-scroll" href="#desktop">Info</a> -->
    			        	<a class="page-scroll" ng-click="goTo('desktop')">Info</a>
			            </li>
        			    <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <!-- <a class="page-scroll" href="#equipo">Equipo</a> -->
    	        			<a class="page-scroll" ng-click="goTo('equipo')">Equipo</a>
			            </li>
        		    	<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <!-- <a class="page-scroll" href="#prensa">Prensa</a> -->
        	    			<a class="page-scroll" ng-click="goTo('prensa')">Prensa</a>
		    	        </li>
	    		        <li class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <!-- <a class="page-scroll" href="#contacto">Contacto</a> -->
            				<a class="page-scroll" ng-click="goTo('contacto')">Contacto</a>
		            	</li>
        			</div>
        		</div>
        	</ul>
    	</div><!-- end hero -->
    	<div class="container bg-white">

    		<section id="info2">
    			<p><strong>Si lo venís a buscar, es tuyo!</strong> es una comunidad de economía colaborativa, un sitio donde regalar lo que ya no usamos.</p>
    			<p>El proyecto fue inaugurado en enero de 2016 como experiencia piloto dentro de Facebook. Desde entonces, {{usuariosK}} mil personas se integraron a la comunidad y más de {{articulosK}} mil artículos encontraron un nuevo dueño. Actualmente, alrededor de 2.500 objetos y servicios gratuitos se ofrecen cada mes.</p>
    			<p>El interés en profundizar esta experiencia nos animó a desarrollar nuestra propia plataforma. Este sitio web fue diseñado a medida, incorporando herramientas que simplifican la interacción, aumentan la seguridad y facilitan la incorporación de nuevos usuarios.</p>
    			<p class="bigger">Al regalar lo que ya no usamos iniciamos un ciclo de hechos positivos: liberamos espacio en casa, extendemos la vida útil de los objetos, reducimos desechos y conectamos con otras personas para formar una cadena de circulación de bienes. Compartir es una idea simple y poderosa.</p>
    			<p>Este espacio ofrece simultáneamente distintas posibilidades:</p>

				<p><strong>1. Es un mecanismo rápido y eficiente para deshacerse de objetos en desuso.</strong><br>En cuestión de horas o incluso minutos, los usuarios pueden concretar el retiro a domicilio de un artículo.</p>
				<p><strong>2.  Inaugura una cadena de redistribución de bienes ociosos.</strong><br>Compartir es una idea ancestral y gracias a las nuevas tecnologías podemos amplificar la experiencia para crear formas de consumo más eficientes y amigables con el planeta. Millones de personas en todo el mundo se están organizando para colaborar, prestar, intercambiar y regalar. De eso se trata la economía colaborativa.</p>
				<p><strong>3. Promueve la responsabilidad y cuidado ambiental.</strong><br>La forma en que vivimos, especialmente en las ciudades, produce una cantidad absurda de desechos. Tomar conciencia y construir alternativas al modelo “comprar-tirar-comprar” se vuelve urgente. Este espacio propone reciclar, reutilizar, extender la vida útil de los objetos y tener un manejo responsable de los residuos. Modificando algunas viejas costumbres, podemos minimizar el impacto que generamos a diario.</p>
				<p><strong>4. Es un espacio de socialización en torno a valores positivos.</strong><br>Compartir promueve la integración y refuerza valores esenciales como solidaridad, respeto y confianza. El momento de la entrega invita a trascender el ámbito digital y conecta cara a cara a personas de distintas edades, barrios y realidades socioculturales. Los objetos funcionan como un puente entre personas desconocidas; una oportunidad para crear nuevos vínculos.</p>
    			<hr>
				<p>Agradecemos también en a Sinergia y a la Agencia Nacional de Investigación e Innovación por haber impulsado el proyecto en su etapa de iniciazión.</p>
    			<div class="row margin-bottom">
    				<div class="col-xs-12 rowFlex">
    					<img src="assets/images/ani-sinergia-ok.svg" class="marginLogos">
    				</div><!-- end col -->
				</div><!-- end row -->
    			<p>Invitamos a organizaciones, fundaciones y empresas afines al espíritu de este proyecto, a sumar su apoyo para seguir expandiendo esta experiencia. Trabajando juntos podemos propiciar un cambio cultural perdurable.</br> <a ng-href="mailto:{{adminMail}}">Contáctanos</a></p>
				<p>Esta plataforma se encuentra alineada al programa llevado adelante por la Intendencia de Montevideo, Montevideo más verde. Para conocer más, ingresa a</br> <a href="https://www.montevideo.gub.uy/masverde" target="_blank">montevideo.gub.uy/masverde</a>.</p>

    		</section>
    		<section id="equipo" class="text-center">
    			<h2>Equipo</h2>

				<div class="integrante row">
    				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
    					<div class="avatar">
    						<img src="assets/images/german.png" class="img-responsive">
	    				</div>
    				</div><!-- end col -->
    				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
    					<h3><strong>Germán Clark</strong></h3>
	    				<h4>Montevideo, 1986<i></i></h4>
    					<p>Ingeniero en Computación. Director General del proyecto.</p>
	    				<div class="text-left">
							<a  href="https://www.linkedin.com/in/germ%C3%A1n-clark-barcel%C3%B3-48273014/" class="btn-linkedin" target="_blank"></a>
	    				</div>
    				</div><!-- end col -->
    			</div><!-- end integrante-->

    			<div class="integrante row">
    				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
    					<div class="avatar">
    						<img src="assets/images/gaston.jpeg" class="img-responsive">
	    				</div>
    				</div><!-- end col -->
    				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
    					<h3><strong>Gastón Esmela</strong></h3>
	    				<h4>Montevideo, 1986<i></i></h4>
    					<p>Especialista en proyectos IT y CRM. Asesor estratégico del proyecto.</p>
    					<div class="text-left">
    						<a  href="https://www.linkedin.com/in/gesmela/" class="btn-linkedin" target="_blank"></a>
	    				</div>
    				</div><!-- end col -->
    			</div><!-- end integrante-->

    			<div class="integrante row">
    				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
    					<div class="avatar">
    						<img src="assets/images/clark.png" class="img-responsive">
	    				</div>
    				</div><!-- end col -->
    				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
    					<h3><strong>Christian Clark</strong></h3>
	    				<h4>Montevideo, 1983<i></i></h4>
    					<p>Ingeniero, magíster en ciencias computacionales y profesor asistente en Fac. Ingeniería (UDELAR). Director de tecnología del proyecto.</p>
    					<div class="text-left">
    						<a href="http://clark.uy/" target="_blank" class="btn-clark"></a>
	    				</div>
    				</div><!-- end col -->
    			</div><!-- end integrante-->
    		</section>
			<section id="equipo" class="text-center">
				<h2>Miembros anteriores</h2>
				<div class="integrante row">
    				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
    					<div class="avatar">
    						<img src="assets/images/caceres.png" class="img-responsive">
	    				</div>
    				</div><!-- end col -->
    				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
    					<h3><strong>Sebastián Cáceres</strong></h3>
						<h4>Montevideo, 1982<i></i></h4>
    					<p>Diseñador, artista gráfico, fotógrafo y músico.</p>
    				</div><!-- end col -->
    			</div><!-- end integrante-->
				<div class="integrante row">
    				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
    					<div class="avatar">
    						<img src="assets/images/naser.png" class="img-responsive">
	    				</div>
    				</div><!-- end col -->
    				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
    					<h3><strong>María Emilia Naser</strong></h3>
						<h4>Montevideo, 1985<i></i></h4>
    					<p>Lic. en Ciencias de la Comunicación (UDELAR) y estudiante de Artes Plásticas.</p>
    				</div><!-- end col -->
    			</div><!-- end integrante-->
			</section>
    		<section id="prensa" class="text-center">
    			<h2>Recortes de prensa</h2>
    			<div class="text-left recorte">
    				<h5><strong>Revista BLA</strong><span> #99 - MARZO 2016</span></h5>
	    			<p>“De ida y vuelta” Explotó en Facebook y va por más. Si lo venís a buscar es tuyo, a un mes de su nacimiento</p>
    				<p>En la tarde del último día de enero, Sebastián Cáceres creó un grupo de Facebook con una aspiración modesta: sacar de su casa algunas cosas en desuso y conseguir otras que necesitaba y no quería ni podía comprar.<br><a id="cincoText" role="button" data-toggle="collapse" ng-click="toggle('#cinco')" aria-expanded="false" aria-controls="cinco">Continuar leyendo</a></p>
    				<div class="collapse" id="cinco">
    					<p>Al mediodía siguiente, 1.000 personas se habían unido y en 48 horas habían alcanzado los 20.000. Hoy, 30.000 personas intercambian bienes con una simple premisa: Si lo venís a buscar, es tuyo. (...) Desde entonces, encontraron nuevo dueño tanto lavarropas como vestidos de novia, cocinas y repisas, camillas de masaje profesional y hasta una moto con papeles. <br>El reglamento que cada tanto se refresca para evitar que se desvirtúe el espacio incluye como principales requisitos publicar ofrecimientos y no pedidos, cumplir el compromiso de retirar en el horario, fecha y lugar acordados y, una vez conseguido algo a través del grupo, ofrecer algo para continuar la cadena.

Próximamente habrá novedades: la aplicación de Si lo venís a buscar, es tuyo, ya se encuentra en desarrollo.</p>
	    			</div><!-- end collapse dos -->
    			</div><!-- end recorte -->
    			<div class="text-left recorte">
    				<h5><strong>EL OBSERVADOR</strong><span> 3 Febrero 2016 (Edición impresa)</span></h5>
    				<p>El grupo público "Si lo venís a buscar, es tuyo!", creado por el diseñador gráfico y web Sebastián Cáceres, ofrece ese servicio de manera simple: que personas que necesitan algo se encuentren con otras que quieran ofrecerlo de manera gratuita.<br>
                        <a id="seisText" role="button" data-toggle="collapse" ng-click="toggle('#seis')" aria-expanded="false" aria-controls="collapseExample">Continuar leyendo</a>
                    </p>
    				<div class="collapse" id="seis">
    					<p>En solo dos días el grupo ya supera los 13.400 participantes y las propuestas incluyen desde muebles y ropa a repartidos viejos de facultad. En nuestra web, la nota original que presentaba al fenómeno está desde hace dos días entre las más leídas del día, lo que da la pauta del interés del uruguayo por ese tipo de plataformas... "Esto tiene un espíritu positivo", cierra Cáceres. "Los bienes circulan, están más cerca de quienes los necesitan y les van a dar uso. Y ambas personas en el intercambio sienten la recompensa de estar en una cadena sustentable...</p>
	    			</div><!-- end collapse dos -->
    			</div><!-- end recorte -->

    			<div class="text-left recorte">
    				<h5><strong>INFONEGOCIOS</strong><span> 11 Marzo 2016</span></h5>
    				<p>“¿Qué hacemos con la cocina vieja?” fue la pregunta que nos hicimos con mis amigos cuando conseguimos para nuestro hogar una nueva. (...) recordé que hacía muy pocos días me había unido a un grupo en Facebook que se titulaba “Sí lo venís a buscar, es tuyo”<br><a id="sieteText" role="button" data-toggle="collapse" ng-click="toggle('#siete')" aria-expanded="false" aria-controls="collapseExample">Continuar leyendo</a></p>
    				<div class="collapse" id="siete">
    					<p>Le saqué una foto con el celular, la compartí en el grupo explicando el estado del electrodoméstico y estipulé los horarios y días en los que podían pasar a levantarla. (...) Al día siguiente de haberla posteado, ¡ya se la habían llevado!</p>
    					<p>Creado por Sebastián Cáceres, diseñador gráfico, en dos meses de vida el grupo ya engendra a más de 32.000 mil usuarios, tiene muchísima interacción, y las cosas que se ofrecen van desde zapatos, juegos de playstation, electrodomésticos, cables, bijouterie, artículos para bebés y todo lo que se te ocurra que alguien pueda tener en desuso. (...) La bola de nieve recién comenzó, y la información del grupo cierra con la frase “Aplicación en desarrollo”, así que dentro de poco podremos usarlo, para mayor comodidad desde una plataforma exclusiva para el intercambio, y desde nuestros queridos teléfonos inteligentes.</p>
	    			</div><!-- end collapse dos -->
    			</div><!-- end recorte -->

    		</section>

    		<section id="contacto" class="text-center">
    			<h2>Contacto</h2>
                <p ng-if="loggedIn">Si has tenido un problema para utilizar el sitio, escríbenos a nuestro <a data-ui-sref="app.help({ s: 'buzon'})" data-ui-sref-opts="{reload: true, notify: true}">BUZÓN</a></p>
    			<p ng-if="!loggedIn">Si has tenido un problema para utilizar el sitio, escríbenos a nuestro <a ng-href="mailto:{{adminMail}}">BUZÓN</a></p>
    		</section>


    	</div><!-- end container -->

        <tuyo-footer></tuyo-footer>

	</div>
