<div class='modal-header'>
  <button type="button" class="close" ng-click='this.$close()'>×</button>
  <h4>Solicitar un articulo es asumir un compromiso</h4>
</div>
<div class="container" style="margin-top:15px">
  <form name="SignupDonationForm">
    <div class="control-group">
      <div class="controls">
          <div ng-if="donation.pickup_date_time" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg=12">
              <p style="color:green">{{donation.pickup_date_time}}</p>
            </div>
            <div class="col-md-12 col-xs-12">
	          <label class="checkbox-wrapper">      
	            <input ng-init="variables.accept_pickup_date_time = false" ng-model="variables.accept_pickup_date_time" type="checkbox" />
	            <span>Puedo retirar en la(s) fecha(s)/hora(s) propuesta(s)</span>
	          </label>
	        </div>
          </div>
          
          <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-select"><br>
	            <textarea style="resize: vertical;" class="form-control" placeholder="Escribe un comentario" ng-model="donation.forum_message" cols="40" rows="3"></textarea>
	          </div>
            </div>
          </div>
      </div>
      <div class="container" style="margin-top:30px; margin-bottom:30px;">
        <button style="float: left" ng-click="this.$close()" class="btn btn-danger margin-right">Cancelar</button>
        <button ng-show="!donation.pickup_date_time || (donation.pickup_date_time && variables.accept_pickup_date_time)" style="float:right" ng-click="signup_on_donation_step2(donation);" class="btn btn-primary">OK</button>
      </div>
    </form>
</div>
