<navigation-bar-desktop ></navigation-bar-desktop>

<div id="desktop" class="paginas-corporativas">
    	<div class="hero-yellow bg-primary-lighter text-left padding-bottom">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    					<img src="assets/images/elreglamento-hero.svg" class="img-responsive">
    				</div><!-- end col -->
    				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    					<p class="intro not-padding-left">Reglamento de la comunidad</p>
    					<p>Conocer las reglas de juego es fundamental para que tu experiencia sea positiva. </p>
    				</div><!-- end col -->
    			</div><!-- end row-->
    		</div><!-- end container-->
    	</div><!-- end hero -->
    	<div class="container bg-white">

    		<section id="info2">

				<p class="bigger-strong"><strong>Se permite publicar únicamente ofrecimientos, no pedidos.</strong><br>La forma adecuada de encontrar lo que necesitas, es solicitar los artículos que se ofrecen.</p>

				<p class="bigger-strong"><strong>Todo se ofrece de manera gratuita.</strong><br>Este no es un sitio de venta, subasta o trueque. Todo aquí se regala. No se permite proponer o aceptar ningún tipo de intercambio monetario.</p>

    			<p class="bigger-strong"><strong>No se permite publicar:</strong><br>Animales, medicamentos, productos o sustancias relacionados con la salud, complementos, vales de descuento, material de piratería (CDs / DVDs copiados)... <a data-ui-sref="app.artprohibidos" id="tresText" role="button" target="_blank">Ver lista completa</a></p>

    			<p class="bigger-strong"><strong>Los ofrecimientos no deben contener publicidad.</strong><br>No se permite incluir: marcas, links, logos, afiches, descuentos, promociones, precios, datos de contacto o cualquier cosa que pueda ser interpretada como publicidad de un negocio o emprendimiento.<br><a id="cuatroText" role="button" data-toggle="collapse" ng-click="toggle('#cuatro')" aria-expanded="false" aria-controls="collapseExample">Leer más</a></p>
    			<div class="collapse" id="cuatro">
    				<p>Tampoco podrás agregar información publicitaria en los mensajes públicos o privados. No está permitido contactar a los interesados por otros medios o utilizar la instancia de entrega para ofrecer servicios/artículos pagos.</p>
    				<hr>
    			</div><!-- end collapse cuatro -->


				<p class="bigger-strong"><strong>Regala tu propio tiempo y talento.</strong><br>Si deseas ofrecer un servicio o mano de obra, antes de crear tu publicación revisa las condiciones para este tipo de ofrecimientos.<br><a id="cincoText" role="button" data-toggle="collapse" ng-click="toggle('#cinco')" aria-expanded="false" aria-controls="collapseExample">Ver condiciones</a></p>
				<div class="collapse" id="cinco">
					<p>El servicio debe ser 100% gratuito. </p>
    				<p>Si ofreces mano de obra y hay que costear los materiales, esto debe ser previamente aclarado.</p>
    				<p>Los ofrecimientos no deben contener ninguna forma de publicidad ni estar vinculados a actividades o eventos promocionales.</p>
                    <p>No se permite ofrecer: asesoría legal o contable, cuidado de personas o animales, consultas médicas o psicológicas, sesiones terapéuticas o espirituales.</p>
                    <p>¿Por qué? Si bien cada usuario es responsable por los artículos o servicios que acepta recibir,  creemos que aún no estamos listos para manejar ofrecimientos que involucren aspectos tan íntimos de la vida de las personas (al menos no con las herramientas que tenemos ahora). Esperamos en el futuro poder generar las condiciones apropiadas para hacerlo.</p>
					<hr>
				</div>	<!-- end collapse cinco -->
				<p class="bigger-strong"><strong>Las publicaciones no deben incluir teléfono o dirección.</strong><br>Para cuidar tu privacidad, los datos exactos para coordinar la entrega se envían por mensaje privado y únicamente al destinatario elegido.</p>
    			<hr>
    			<p><strong>Ayuda a cuidar este espacio.</strong><br>Si ves una publicación o comentario inapropiado, por favor envíanos un aviso utilizando el botón reportar: <span class="btn-right-top"><i class="fa fa-eye" aria-hidden="true"></i></span> . Los administradores revisarán estos contenidos y tomarán las acciones que se consideren adecuadas.</p>




    			<!--<p><strong></strong> <a role="button" data-toggle="collapse" href="#siete" aria-expanded="false" aria-controls="collapseExample">Leer más</a></p>
				<div class="collapse" id="siete">
    				<p></p>
    			</div>--><!-- end collapse siete -->

    			<div class="border-top logos-apoyan">
    				<h2>USOS INAPROPIADOS</h2>
    			</div>
    			<p>Esta comunidad funciona en base al compromiso y respeto entre sus miembros. <br>Los usuarios que hagan uso abusivo o irresponsable serán dados de baja.<br>Se considera inapropiado:</p>
				<p class="bigger-strong"><strong>Fallar al retiro/entrega de un artículo.</strong><br>Fallar al día y hora pactado es una falta grave y puede provocar la suspensión de tu cuenta en el sitio.<br>Si tuviste un imprevisto y no podrás cumplir, avisa en tiempo y forma.</p>
				<p class="bigger-strong"><strong>Solicitar artículos para vender.</strong><br>Este es un espacio colaborativo y no debe usarse para alimentar un negocio particular. Vender o tranzar lo que te han regalado, no es una práctica aceptada. De comprobarse, tu perfil será dado de baja.</p>
				<p class="bigger-strong"><strong>Solicitar artículos desmesuradamente.</strong><br>Para que este espacio funcione, debemos usarlo con lógica moderación y dar lugar a que otras personas también puedan acceder a lo que necesitan. Si ya has tenido la suerte de conseguir algunas cosas útiles, ofrece algo antes de volver a solicitar.</p>
				<p class="bigger-strong"><strong>Usar lenguaje ofensivo o discriminatorio.</strong><br>Este espacio apuesta por la diversidad y la tolerancia. No tenemos que pensar igual, no tenemos que ponernos de acuerdo. Alcanza con respetarnos.</p>
				<p class="bigger-strong"><strong>SPAM</strong><br>No está permitido publicar links, videos, gacetillas, noticias o cualquier tipo de difusión de eventos o emprendimientos. Tampoco copiar y pegar el mismo mensaje en distintas publicaciones.</p>
				<p class="bigger-strong"><strong>Pedir/ofrecer dinero o trueque.</strong><br>Este no es un sitio de venta, subasta o trueque. Todo se ofrece gratuitamente. Asimismo, proponer algún tipo de intercambio con el fin de obtener un artículo, es una práctica desleal.</p>
				<p class="bigger-strong"><strong>Utilizar cuentas múltiples o coordinadas.</strong><br>No se permite que una misma persona tenga más de una cuenta en el sitio. Tampoco que se utilicen distintas cuentas de forma coordinada en beneficio de una misma persona u organización. De comprobarse la situación, todas las cuentas involucradas serán dadas de baja.</p>

                <p ng-if="loggedIn"><strong>Si tuviste una mala experiencia o has visto un comportamiento inadecuado, por favor escribe una denuncia al <a data-ui-sref="app.help({ s: 'buzon'})" data-ui-sref-opts="{reload: true, notify: true}">BUZÓN</a> o utiliza el botón reportar: <span class="btn-right-top"><i class="fa fa-eye" aria-hidden="true"></i></span></strong></p>
				<p ng-if="!loggedIn"><strong>Si tuviste una mala experiencia o has visto un comportamiento inadecuado, por favor escribe una denuncia al <a href="mailto:{{adminMail}}">BUZÓN</a> o utiliza el botón reportar: <span class="btn-right-top"><i class="fa fa-eye" aria-hidden="true"></i></span></strong></p>
    			<p>Este contenido es solamente una guía resumida. Para tener una visión exhaustiva de las obligaciones y responsabilidades que implica usar el sitio revisa los <a data-ui-sref="app.terycon" target="_blank" data-ui-sref-opts="{reload: true, notify: true}">Términos y Condiciones</a>.</p>
    		</section>

    	</div><!-- end container -->


    <tuyo-footer></tuyo-footer>

</div>
