$primary-color: #008040; // Primary Color - Green
$oposite-color: #EC4300; // Oposite Color - Orange
$text-color: #747474;

$orange-dark: #ec4300;
$orange-medium: #ec8700;
$yellow-dark: #ecb100;
$blue-dark: #004172;
$blue-medium: #0263ad;
$blue-light :#008040;
$blue-positive: #007ad8; 

$color-white: #FFFFFF;
$light-grey: #F4F4F4; 

$color4: #747474; // Text grey
$color5: #005598; // Green
$color6: #FF8611; // Orange
$color7: #EE4D3B; // Red
$color8: black;

$brand-primary: $color5;
$fontSize: 14px;

$sidebarWidth: 230px;

//may be erased
$color1: #005598; // Primary Color - Blue